.App {
  margin: auto;
}

.circular_image {
  /* display items as block elements, inline positioning */
  display: inline-block;
  /* set the height of the image */
  height: 300px;
  /* hide the link text */
  text-indent: -9999px;
  /* set the width of the image */
  width: 300px;
  text-align: center;
  /* use a radius to make the image into a circular shape */
  border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
  margin: auto;
  display: block;
  /* Add shadow to the box */
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}


.home-page {
  height: 105vh;
  background: #006be5;
  background: -webkit-linear-gradient(top left, #006be5 0%, #53e3a6 100%);
  background: -moz-linear-gradient(top left, #006be5 0%, #53e3a6 100%);
  background: -o-linear-gradient(top left, #006be5 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #006be5 0%, #53e3a6 100%);
}
.home-page__container {
  max-width: 600px;
	margin: 0 auto;
	padding: 80px 0;
	height: 400px;
	text-align: center;
  color: white;

	h1{
		transition-duration: 1s;
		transition-timing-function: ease-in-put;
		font-weight: 200;
    color: white;
	}
}

.login_button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #53e3a6;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  margin-right: 50px;
}

.signup_button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #53e3a6;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  margin: auto;
  display: block;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.hmsignup_button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #53e3a6;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}



.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background: yellow;
}

.navItem {
  color: red;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
