.upvote {
    color: #333;
    background-color: green;
    margin-right: 10px;
    border-color: green;
}

.downvote {
    color: #333;
    background-color: red;
    margin-right: 10px;
    border-color: red;
}

.namelabel {
    min-width: 80px;
}
