.label1 {
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
}
.label2 {
    padding-right: 30px;
    padding-left: 30px;
    background-color:  rgba(235,255,255,0.3);;
    display: flex;
}

.form1 {
    background-color: ghostwhite;
}
